@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}
/* Estilos generales */
body {
font-family: Arial, sans-serif;
background-size: cover; 
background-repeat: no-repeat; 

margin: -2vh;
padding: 1vh;
background-image: url(https://www.diariojuridico.com/wp-content/uploads/2019/02/becas-diariojuridico.jpg)
}

h1 {
text-align: center;
}

form {
max-width: 600px;
margin: 0 auto;
background-color: #c9a7a7;
padding: 20px;
border-radius: 8px;
background-color:  rgb(162, 164, 193);
box-shadow: 0 1rem 1rem rgb(173, 33, 33) ;
}

/* Estilos para los pasos */
.step {
display: none;
}

.step:first-child {
display: block;
}

/* Estilos para los botones de navegación entre pasos */
button {
padding: 8px 16px;
margin-right: 10px;
border: none;
border-radius: 4px;
background-color: #007bff;
color: #fff;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #0056b3;
}

/* Estilos para los campos del formulario */
label {
display: block;
margin-top: 10px;
font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
width: 100%;
padding: 8px;
margin-top: 5px;
border-radius: 4px;
border: 1px solid #ccc;
}

input[type="file"] {
margin-top: 5px;
}
