<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
         integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" type="text/css" href="postulacion-becas.component.css">
      <link rel="stylesheet" type="text/css" href="postulacion-becas.component2.css">

      <title>Solicitud de Beca</title>
   </head>
   
<body>
   
   <form action="#" class="form" id ="paso1">
      <h1 class="text-center">Postulacion De Becas  ULEAM</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        
        <div
          class="progress-step progress-step-active"
        ></div>
        <div class="progress-step" ></div>
        <div class="progress-step" ></div>
        <div class="progress-step" ></div>
      </div>

      <!-- Steps -->
      <div *ngFor="let step of [0]" class="form-step" [class.form-step-active]="formStepsNum === step">
        <div class="input-group" >
            <h2>Tipo de Beca o Ayuda Económica</h2>
            <label for="periodo">Periodo:</label>
            <select id="periodo" name="periodo">
              <option value="">Seleccione</option>
                <option value="2022">2022-1</option>
                <option value="2022">2022-2</option>
                <option value="2023">2023-1</option>

            </select>
   
            <label for="tipo_beca">Beca o Ayuda Económica:</label>
            <select id="tipo_beca" name="tipo_beca">
              <option value="">Seleccione</option>
                <option value="beca1">Becas por alto rendimiento académico</option>
                <option value="beca2">Becas por situación socio-económica</option>
                <option value="beca3">Becas por mérito científico-técnico, innovación-emprendimiento</option>
                <option value="beca4">Becas para estudiantes con discapacidad</option>
                <option value="beca5">Becas por alto rendimiento deportivo y cultural</option>
                <option value="beca6">Beca ayuda Económica</option>
            </select>
            <label for="fecha_elaboracion">Fecha de Elaboración:</label>
            <input type="date" name="dob" id="dob" />
            <label for="promedio">Promedio dos periodos anteriores:</label>
            <input type="number" id="promedio" name="promedio" step="0.01" required>
            <br>
            
            <button class="btn btn-next" (click)="siguientePaso()">Siguiente</button>
           
        </div>

      </div>
      
      <div *ngFor="let step of [ 1]" class="form-step" [class.form-step-active]="formStepsNum === step">
        <div class="input-group">
            <h2>Datos Personales del Postulante</h2>
      <label for="foto">Suba su fotografía:</label>
      <input type="file" id="foto" name="foto" accept="image/*">
      <img id="imagen_carnet" src="" alt="Foto de tipo carnet" style="display: none; max-width: 200px; max-height: 200px;">

      
      <label for="identificacion">Identificación:</label>
      <input type="text" id="identificacion" name="identificacion" required>

      <label for="nombres">Nombre Completo:</label>
      <input type="text" id="nombres" name="nombres" required>

      <label for="apellidos">Apellido Completo:</label>
      <input type="text" id="apellidos" name="apellidos" required>

      <label for="sexo">Sexo:</label>
      <select id="sexo" name="sexo" required>
        <option value="">Seleccione</option>
         <option value="masculino">Masculino</option>
         <option value="femenino">Femenino</option>
      </select>

      <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
      <input type="date" name="dob" id="dob" />

      <label for="direccion_residencia">Dirección de Residencia:</label>
      <input type="text" id="direccion_residencia" name="direccion_residencia" required>

      <label for="ocupacion">Ocupación:</label>
      <input type="text" id="ocupacion" name="ocupacion">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="facultad">Facultad:</label>
      <select id="facultad" name="Facultad" required>
        <option value="">Seleccione</option>
         <option value="facultad">FACULTAD CIENCIAS DE LA SALUD</option>
         <option value="facultad">FACULTAD CIENCIAS ADMINISTRATIVAS, CONTABLES Y COMERCIO</option>
         <option value="Facultad">FACULTAD DE EDUCACIÓN TURISMO ARTES Y HUMANIDADES</option>
         <option value="Facultad">FACULTAD INGENIERÍA, INDUSTRIA Y ARQUITECTURA</option>
         <option value="Facultad">FACULTAD CIENCIAS DE LA VIDA Y TECNOLOGÍAS</option>
         <option value="Facultad">FACULTAD DE CIENCIAS SOCIALES DERECHO Y BIENESTAR</option>
        
      </select>

      <label for="numero_matricula">Número de Matrícula:</label>
      <input type="text" id="numero_matricula" name="numero_matricula" required>

      <label for="tipo_sangre">Tipo de Sangre:</label>
      <input type="text" id="tipo_sangre" name="tipo_sangre">

      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" required>

      <label for="ciudad_nacimiento">Ciudad de Nacimiento:</label>
      <input type="text" id="ciudad_nacimiento" name="ciudad_nacimiento" required>

      <label for="estado_civil">Estado Civil:</label>
      <select id="estado_civil" name="estado_civil" required>
        <option value="">Seleccione</option>
        <option value="soltero">Soltero</option>
        <option value="casado">Casado</option>
        <option value="Divorciado">Divorciado</option>
        <option value="Viudo">Viudo</option>
     </select>

      <label for="matriz_extension">Matriz o Extensión:</label>
      <select id="matriz_extension" name="matriz_extension" required>
        <option value="">Seleccione</option>
         <option value="Manta">Manta</option>
         <option value="Chone">Chone</option>
         <option value="Sucre">Sucre</option>
         <option value="Carmen">El Carmen</option>
         <option value="Pedernales">Pedernales</option>
         <option value="Pichincha">Pichincha</option>
         <option value="Santo">Santo Domingo</option>
         <option value="Flavio">Flavio Alfaro</option>
         <option value="Tosagua">Tosagua</option>
      </select>

      <label for="curso_semestre">Nivel de Estudio:</label>
      <select id="estado_civil" name="estado_civil" required>
        <option value="">Seleccione</option>
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
         <option value="6">6</option>
         <option value="7">7</option>
         <option value="8">8</option>
         <option value="9">9</option>
         <option value="10">10</option>
      </select>

      <label for="discapacidad">Discapacidad:</label>
      <select id="discapacidad" name="discapacidad">
        <option value="">Seleccione</option>
         <option value="no">No</option>
         <option value="si">Sí</option>
      </select>
        </div>
     
        <div class="btns-group">
          <button class="btn btn-prev" (click)="anteriorPaso()">Atrás</button>
          <button class="btn btn-next" (click)="siguientePaso()">Siguiente</button>
        </div>
      </div>

      <div *ngFor="let step of [2]" class="form-step" [class.form-step-active]="formStepsNum === step">
        <div class="input-group">
            <h2>Datos Bancarios</h2>
            <label for="institucion_bancaria">Institución Bancaria:</label>
            <select id="institucion_bancaria" name="Institución" required>
              <option value="">Seleccione</option>
               <option value="banco-pichinhca">Banco Pichincha</option>
               <option value="banco">Banco Guayaquil</option>
               <option value="banco">Banco del Pacífico</option>
               <option value="banco">Banco Bolivariano</option>
               <option value="banco">Banco Internacional</option>
               <option value="banco">Produbanco</option>
               <option value="banco">Banco del Austro</option>
               <option value="banco">Banco General Rumiñahui</option>
            </select>
      
      
            <label for="tipo_cuenta">Tipo de Cuenta:</label>
            <input type="text" id="tipo_cuenta" name="tipo_cuenta" required>
      
            <label for="numero_cuenta">Número de Cuenta:</label>
            <input type="text" id="numero_cuenta" name="numero_cuenta" required>
            <br>
            <div class="btns-group">
    
            <button class="btn btn-prev" (click)="anteriorPaso()">Atrás</button>
        <button class="btn btn-next" (click)="siguientePaso()">Siguiente</button>
            </div>
      </div>
    </div>
      <div *ngFor="let step of [ 3]" class="form-step" [class.form-step-active]="formStepsNum === step">
        <div class="input-group">
            <h2>Ingresos</h2>
            <label for="ingresos_personales">Total de Ingresos Personales:</label>
            <input type="number" id="ingresos_personales" name="ingresos_personales" step="0.01" required>
      
            <label for="ingresos_familiares">Total de Ingresos Familiares:</label>
            <input type="number" id="ingresos_familiares" name="ingresos_familiares" step="0.01" required>
        </div>
    
        <div class="btns-group">
          <button class="btn btn-prev" (click)="anteriorPaso()">Atrás</button>
          <button type="submit" class="Registrarse"(click)="EnviarBeca()" >Enviar</button>
        </div>
      </div>
    </form>
  </body>
</html>