<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="iniciar-sesion.component.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Becas-Uleam</title>
</head>
<body>
    <header>
    </header>
    <br>
    <div>
        <h1 class="t1"> Inicio de Sesión</h1>
    </div>
    <form class="Registro" id="Registro">
        <br />
        <br />
        <div class="correo">
            <label>Correo Estudiantil</label> <br />
            <input type="email" class="email"  [(ngModel)]="email" id="email" onfocusout="validarCorreo()" name="email"
                placeholder=" e1315964393@live.uleam.edu.ec" required />
            <br />
            <br />
        </div>
        <div class="Contraseña">
            <label>Contraseña</label> <br />
            <input type="password" class="password" id="password"  [(ngModel)]="password" name="password" required />
            <br />
            <br />
        </div>
        <div class="link">
            <p class="link-inicio">
                <a href="../registro-sesion/"> ¿Aun no tienes cuenta? </a>
            <p class="link-Recu"><a href="../recuperar-contrase/"> Recuperar Contraseña </a></p>
            

        </div>
    </form>
    <br />
    <div>
        <button type="button" (click)="Inicio()">Iniciar Sesión</button>
        <button type="button" (click)="Registrar()">Registrar</button>
    </div>
    <p id="mensaje-error"></p>
  
</body>

</html>