*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh; 
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    
    margin: -2vh;
    padding: 1vh;
}
.perfil {
    text-align: left;
    min-height: 200px;
    height: auto;
    width: 419px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif ;
    color: rgb(0, 0, 0);
    background-color:  rgb(162, 164, 193);
    box-shadow: 0 1rem 1rem rgb(173, 33, 33) ;
}
.foto-perfil {
    border: 2px solid #333;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 20px auto;
}
.foto-perfil img {
    width: 100%;
    height: 100%;
}
.nombre-usuario {
    font-size: 24px;
    font-weight: bold;
}
.informacion {
    margin-top: 20px;
}
.campo {
    font-weight: bold;
    color: #110909;
    
}
.informacion p {
    margin: 10px 0;
}
.nav{
    padding: 0 40px;
    height: 80px;
    background-color: rgb(162, 164, 193);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_links{
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    right: 0;
    background-color: black;
    display: grid;
    place-items: center;
    clip-path: circle(0% at top left);
    transition: clip-path  .4s;
}
.nav_link{
    text-decoration: none;
    color: #ffff;
}

.nav_links:target{
    clip-path: circle(150% at top left);
}