* {
	margin: 0;
	padding: 0;
}
head{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;

}
header {
    font-size: 20px;
    padding-left: 300px;
    padding-top: 30px;
    text-size-adjust: auto;
    background: rgb(162, 164, 193) url(https://moodledanu.uleam.edu.ec/pluginfile.php/1/theme_klass/footerlogo/1655214245/logo_ULEAM_2017_horizontal.png) no-repeat left;
    height: 100px;
    width: 100%;
    background-size: contain;
}
body {
    height: 100vh;
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
	background-size: cover; 
    background-repeat: no-repeat; 
    
    margin: -2vh;
    padding: 1vh;
}
.form {
	background-color: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
h2 {
	text-align: center;
	margin-bottom: 20px;
}
label {
	display: block;
	margin-bottom: 10px;
}
input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #f1f1f1;
}
button[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
    margin-top: 1;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #008CBA;
}
button[type="submit"]:hover {
	background-color: #3e8e41;
}
