<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Becas-ULEAM-Recuperar-contraseña</title>
    <link rel="stylesheet" type="text/css" href="recuperar-contrase.component.css">
</head>
<body>
    <header>
    </header>
    <br>
    <form class="form" (ngSubmit)="Recupera()">
        <h2>Recuperar contraseña <i class="fa-solid fa-unlock"></i></h2>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="e1315964393@live.uleam.edu.ec" required [(ngModel)]="email">
        <div>
          <br>
          <button type="submit" class="recupera">Enviar</button>
        </div>
      </form>
      
   
</body>

</html>