<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas-ULEAM-Consulta de Beca</title>
    <link rel="stylesheet" type="text/css" href="consulta-becas.component.css">
</head>
<body>
    <h1>Consulta de Beca</h1>
    <form>
       
        <button type="button" (click)="consultar()">Consultar</button>
        <button type="button" (click)="Regresar()"> Regresar </button>
    </form>
 <table id="tabla_beca">
    <thead>
        <tr>
            <th>ID de Beca</th>
            <th>Periodo</th>
            <th>Tipo de Beca</th>
            <th>Motivo de la solicitud</th>
            <th>Fecha de solicitud</th>
            <th>Fecha de Aprobación</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beca of becasData">
            <td>{{ beca.id }}</td>
            <td>{{ beca.periodo }}</td>
            <td>{{ beca.tipo }}</td>
            <td>{{ beca.motivo }}</td>
            <td>{{ beca.fechaSolicitud }}</td>
            <td>{{ beca.fechaAprobacion }}</td>
            <td>{{ beca.estado }}</td>
        </tr>
    </tbody>
</table>

    
</body>
</html>