form {
	text-align: center;
}

input[type="text"] {
	padding: 10px;
	margin: 10px;
}
body, html {
    height: 100vh; 
    background-image: url(https://www.jikestar.com/uploads/image/20190711/1562827875111604.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: -2vh;
    padding: 1vh;

}

  
button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}
table {
    margin: 0 auto;
    width: 80%;
    padding: 10px ;
    border-collapse: collapse;
    
}
table thead {
    background: #476e5c;
    color: white;
}
th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
tbody{
    background-color: rgb(139, 170, 197);
    color:#000000;
}


h1 {
	text-align: center;
}

