<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas-ULEAM-Registro </title>
    <link rel="stylesheet" type="text/css" href="registro-sesion.component.css">
    <link rel="stylesheet" type="text/css" href="registro-sesion.component1.css">
</head>
<body>
    <!-- registro.component.html -->

<header>
</header>

<br>

<div>
  <h1> Crea tu cuenta</h1>
</div>

<form class="Registro">

  <h2> Ingrese sus datos </h2> <br> <br>

  <div class="cedula">
    <label>Numero de Cedula</label> <br>
    <input type="text" class="dni" [(ngModel)]="dni" name="dni"
      onkeypress='return event.charCode >= 48 && event.charCode <= 57' required maxlength="10"
      placeholder="1315964393" required> <br> <br>
  </div>

  <div class="name">
    <label>Nombres</label> <br>
    <input type="text" class="name" [(ngModel)]="name" name="name" placeholder="Devis Yonaikel" required> <br> <br>
  </div>

  <div class="apell">
    <label>Apellidos</label> <br>
    <input type="text" class="apell" [(ngModel)]="apell" name="apell" placeholder="Alonzo Pico" required> <br> <br>
  </div>

  <div class="correo">
    <label>Correo Estudiantil</label> <br>
    <input type="email" class="email" [(ngModel)]="email" name="email"
      placeholder=" e1315964393live.uleam.edu.ec" required>
    <br> <br>
  </div>

  <div class="Contraseña">
    <label>Contraseña</label> <br>
    <input type="password" class="password" [(ngModel)]="password" name="password" required>
    <i *ngIf="!passwordValid" class="fas fa-exclamation-circle invalid-icon" style="color: red;"></i>
    
    <br> <br>
  </div>
  

  <div class="Nacionalidad">
    <label>Nacionalidad</label> <br>
    <input type="text" class="Na" [(ngModel)]="na" name="na" required> <br> <br>
  </div> 

  <div class="Telefono">
    <label>Telefono</label> <br>
    <input type="text" class="cel" [(ngModel)]="cel" name="cel"
      onkeypress='return event.charCode >= 48 && event.charCode <= 57' required maxlength="10"
      placeholder="0960605719"> <br> <br>
  </div>

  <div class="estudio">
    <label>Nivel de estudio</label> <br>
    <select type="text" class="estudio"  name="estudio" required>
      <option value="">Seleccione</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
  </div>

  <div class="column">
    <div class="input-box">
      <br>
      <label>Fecha Nacimiento</label>
      <input type="date"  class="inputa-45" required />
    </div>
    <div class="input-box">
      <br>
      <label>Inicio de estudio universitario</label>
      <input type="date"  class="inputa-40" required />
    </div>
  </div>

  <div class="link">
    <br>
    <p class="link-inicio"><a href="../iniciar-sesion/"> ¿Ya tienes Cuenta? </a></p>
  </div>

</form>

<br>

<div>
  <button type="button" class="Registrarse" (click)="Registrarse()">Registrar</button>
</div>



</body>

</html>