.Registro{
    text-align: left;
    min-height: 200px;
    height: auto;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 35px;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif ;
    color: rgb(0, 0, 0);
    background-color:  rgb(162, 164, 193);
    box-shadow: 0 1rem 1rem rgb(173, 33, 33) ;
}
.Registro .name .name{
    width: 95%;
    height: 35px;
}
.Registro .apell .apell{
    width: 95%;
    height: 35px;
}
.Registro .correo .email{
    width: 95%;
    height: 35px;
}
.Registro .Telefono .cel{
    width: 95%;
    height: 35px;
}
.Registro .estudio .estudio{
    width: 95%;
    height: 35px;
}
.Registro .Contraseña .password{
    width: 95%;
    height: 35px;
}
button{
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    border:none;
    cursor: pointer;
    border-radius: 30%;
    color: rgb(222, 205, 205);
    background-color: #008CBA;
}
.column{
    display: flex;
    column-gap: 15px;
  }
  header{
    font-size: 20px;
    padding-left: 300px;
    padding-top: 30px;
    text-size-adjust: auto;
    background : rgb(162, 164, 193) url(https://moodledanu.uleam.edu.ec/pluginfile.php/1/theme_klass/footerlogo/1655214245/logo_ULEAM_2017_horizontal.png) no-repeat left;
    height: 100px;
    width: 100%;
    background-size: contain;
}
.Registro .cedula .dni{
    width: 95%;
    height: 35px;
}
.Registro .Nacionalidad .Na{
    width: 95%;
    height: 35px;
}