
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    
    margin: -2vh;
    padding: 1vh;
}
h2{
    text-align: center;
}