*{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    height: 100vh;
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    
    margin: -2vh;
    padding: 1vh;
}
legend{
    color: white;
}
.pan{
    border: 1px solid #ececec;
    box-sizing: border-box;
    color: #000000;
    float: left;
    margin: 0%;
    padding: 1em;
    width: 49%;
    height: 610px;
    margin-top: auto;
    background: rgba(46, 138, 145, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);
}
strong{
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);


}

nav{
    background-color: rgb(162, 164, 193);
    height: 80px;
    width: 100%;
}
img{
    margin-top: 20px;
    margin-left: 20px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: white;
    font-size: 18px;
    margin: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background-color: blue;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 4opx;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}