.container .vi {
    width: 500px;
    padding: 35px;
    margin-left: 650px;
    margin-top: -290px; 
    background: rgba(46, 138, 145, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);
 }
.container .vi .text{
    font-size: 1.84rem;
    font-weight: 400;
    line-height: 2.46rem;
}
.container2 {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}
.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
h2{
    text-align: center;
    margin-top:-250px;
}
    .pan{
        color: #111010;
        
    }
div{
    display: block;
}
.container .somos{
    display: block;
    font-size: 1.61rem;
    text-align: center;
}
.container .mi {
    width: 500px;
    padding: 35px;
    margin-left: 10px;
    margin-top: -200px; 
    background: rgba(46, 138, 145, 0.33);
    box-shadow:  0 1rem 1rem rgba(0,0, 0, 0.3);
 }
.container .mi .text{
    font-size: 1.84rem;
    font-weight: 400;
    line-height: 2.46rem;
    color: #111010;
}
.text{
    text-align: center;
}