@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 100vh; 
    background-image: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: -2vh;
    padding: 1vh;
}
nav{
    background-color: rgb(162, 164, 193);
    height: 80px;
    width: 100%;
}
img{
    margin-top: 20px;
    margin-left: 20px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    margin: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background-color: blue;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 4opx;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(https://i.ytimg.com/vi/UpNz-avzHxA/maxresdefault.jpg) no-repeat;
    background-size: cover;
    background-position:center center;
    height: calc(100vh - 80px);
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2 rem;
}

.typing__effect{
    margin: 50px auto;
    width: max-content;
    border-right: 3px solid;
    font-variant-position: monospace;
    margin-top: left;
    animation: teclear 5s steps(16); 
}
@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
